:root {
  --color-background: #1a1a1a;
  --color-panel-bg: #212121;
  --color-text: #e4f4f4;
  --color-accent: #c6ff00;
  --color-border: #e4f4f4;
  --color-placeholder: #999;

  --font-family-base: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
